.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 95%;
    max-width: 750px;
    font-family: 'Lucida Console'
}

.ref:active {
    font-weight: bold;
}

